In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_main = pd.read_csv("./ifood-restaurants-november-2020.csv", sep=",", header=0)

In [6]:
df_main = df_main.drop(columns=['avatar', 'url', 'lat', 'long'])

In [7]:
df_main.dtypes

category          object
delivery_fee     float64
delivery_time      int64
distance         float64
name              object
price_range       object
rating           float64
dtype: object

In [8]:
df_number = df_main[['delivery_fee', 'delivery_time', 'distance', 'rating']]

TRATAR OUTLIERS

In [9]:
df_number = df_main.select_dtypes(include=['number']).columns.tolist()
df_number

['delivery_fee', 'delivery_time', 'distance', 'rating']

In [10]:
df_main[df_number].quantile(0.25)

delivery_fee      4.00
delivery_time    35.00
distance          1.77
rating            0.00
Name: 0.25, dtype: float64

In [11]:
df_main[df_number].quantile(0.75)

delivery_fee      8.99000
delivery_time    60.00000
distance          4.76000
rating            4.75817
Name: 0.75, dtype: float64

In [12]:
Q1 = df_main[df_number].quantile(0.25)
Q3 = df_main[df_number].quantile(0.75)
IQR = Q3 - Q1
IQR

delivery_fee      4.99000
delivery_time    25.00000
distance          2.99000
rating            4.75817
dtype: float64

In [13]:
df_main[((df_main[df_number] < (Q1 - 1.5 * IQR)) | (df_main[df_number] > (Q3 + 1.5 * IQR))).any(axis=1)]

,category,delivery_fee,delivery_time,distance,name,price_range,rating
9,Marmita,8.9,120,5.32,PARMEGIANA MESTRE DO SABOR,CHEAPEST,3.37500
28,Pizza,10.0,55,11.08,Sophia Pizzas,MODERATE,3.96000
29,Saudável,7.9,120,5.32,MARMITA FIT EXPRESS SABOROSA,CHEAP,3.94118
37,Variada,8.0,60,9.30,Alô Quentinha,CHEAP,0.00000
40,Saudável,20.0,50,11.95,Light Food Way Recife,CHEAPEST,0.00000
...,...,...,...,...,...,...,...
361002,Lanches,5.0,120,5.22,Explosão Dog,CHEAPEST,4.87500
361151,Mercado,10.0,120,2.46,Paraná Supermercados,CHEAPEST,3.71429
361287,Conveniência,20.0,75,5.18,Empório Reserva da Serra,CHEAPEST,0.00000
361329,Pizza,6.0,45,10.51,Pizzaria Kanudinho,CHEAPEST,0.00000
361402,Brasileira,20.0,100,6.85,Gato Gordo,CHEAPEST,4.40000

In [14]:
outliers_number = df_main[((df_main[df_number] < (Q1 - 1.5 * IQR)) | (df_main[df_number] > (Q3 + 1.5 * IQR))).any(axis=1)]

In [15]:
print(f"Quantidade de registros na base: {len(df_main)}")
print(f"Quantidade de outliers na base: {len(outliers_number)}")
print(f"Percentual de outliers: {np.round(100*len(outliers_number)/len(df_main), 0)} %")

Quantidade de registros na base: 361447
Quantidade de outliers na base: 9556
Percentual de outliers: 3.0 %

In [16]:
df_pure = df_main[~((df_main[df_number] < (Q1 - 1.5 * IQR)) | (df_main[df_number] > (Q3 + 1.5 * IQR))).any(axis=1)]

In [17]:
df_pure.head(2)

,category,delivery_fee,delivery_time,distance,name,price_range,rating
0,Lanches,9.0,80,6.20,El'moedor,CHEAP,4.30303
1,Doces & Bolos,6.0,35,3.03,Delicia de Brigadeiro,CHEAPEST,0.00000

In [21]:
pure_number = df_pure.select_dtypes(include=['number']).columns.tolist()
pure_number

['delivery_fee', 'delivery_time', 'distance', 'rating']

In [23]:
for variavel in df_pure[pure_number]:
    media = df_pure[variavel].mean()
    mediana = df_pure[variavel].median()
    print(f"Estatísticas para {variavel}:") 
    print(f"Média: {media}") 
    print(f"Mediana: {mediana}\n")

Estatísticas para delivery_fee:
Média: 6.321222253481903
Mediana: 5.99

Estatísticas para delivery_time:
Média: 46.736580361532404
Mediana: 45.0

Estatísticas para distance:
Média: 3.2671484067509544
Mediana: 3.01

Estatísticas para rating:
Média: 2.761790302810581
Mediana: 4.222219944000243

In [25]:
for variavel in df_pure[pure_number]:
    # Calcula a amplitude
    amplitude = df_pure[variavel].max() - df_pure[variavel].min()

    # Imprime o resultado
    print(f"A amplitude da variável {variavel} é:", amplitude)

A amplitude da variável delivery_fee é: 16.2
A amplitude da variável delivery_time é: 97
A amplitude da variável distance é: 9.23
A amplitude da variável rating é: 5.0