# Instalando o Pacote Pandas

In [18]:
%pip uninstall openpyxl

Found existing installation: openpyxl 3.1.5
Uninstalling openpyxl-3.1.5:
  Would remove:
    /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/openpyxl-3.1.5.dist-info/*
    /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/openpyxl/*
Proceed (Y/n)? ^C
ERROR: Operation cancelled by user
Note: you may need to restart the kernel to use updated packages.

# Importando o Pacote

In [3]:
import pandas as pd

# Leitura de Arquivos em Pandas

### Arquivos CSV e TXT

In [11]:
df_csv = pd.read_csv("./analise_imoveis_sao_paulo.csv", sep=";", header=0)

In [12]:
df_csv

,Unnamed: 0,Rua,Bairro,Cidade,area_m2,quartos,banheiros,vagas,price
0,0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,469-524,3-6,3-6,4,R$ 3.700.000
2,2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,3,"Jardim Morumbi, São Paulo",SP,NaN,310,3,2,4,R$ 685.000
4,4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000
...,...,...,...,...,...,...,...,...,...
10028,10028,Rua Tapuçu,Vila Sofia,São Paulo,90,2,2,2,R$ 665.000
10029,10029,Rua Guararema,Bosque da Saúde,São Paulo,600,8,7,5,R$ 2.300.000
10030,10030,Rua Estero Belaco,Vila da Saúde,São Paulo,200,3,3,6,R$ 1.050.000
10031,10031,"Rua Manuel Onha, , 514",Vila Oratório,São Paulo,180,3,2,2,R$ 2.200\n /Mês
10032,10032,"Rua Barão de Tramandaí, 0",Vila Alpina,São Paulo,117,3,2,2,R$ 270.000

### Arquivos Excel

- Atenção: para ler arquivos em excel via Pandas, precisamos instalar um outro pacote que o pandas utiliza por trás dos panos para realizar a leitura de um excel, que é o pacote "openpyxl". Portanto, você precisará instalar esse pacote via pip

In [19]:
df_xlsx = pd.read_excel("./analise_imoveis_sao_paulo.xlsx")

In [16]:
df_xlsx

,Rua,Bairro,Cidade,area_m2,quartos,banheiros,vagas,price
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,469-524,3-6,3-6,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,"Jardim Morumbi, São Paulo",SP,NaN,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000
...,...,...,...,...,...,...,...,...
10028,Rua Tapuçu,Vila Sofia,São Paulo,90,2,2,2,R$ 665.000
10029,Rua Guararema,Bosque da Saúde,São Paulo,600,8,7,5,R$ 2.300.000
10030,Rua Estero Belaco,Vila da Saúde,São Paulo,200,3,3,6,R$ 1.050.000
10031,"Rua Manuel Onha, , 514",Vila Oratório,São Paulo,180,3,2,2,R$ 2.200\n /Mês
10032,"Rua Barão de Tramandaí, 0",Vila Alpina,São Paulo,117,3,2,2,R$ 270.000